<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/css.css" />
        <title>{{app.config.site.name}}</title>
    </head>

    <body>
        {% block content %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script src="https://raw.github.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-0.2.0.min.js"></script>
    </body>
</html>