<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/css.css" />
        <title>{{app.config.site.name}}</title>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>